{% extends "lizard_ui/realbase.html" %}

{% block title %}
{{ view.layout }}
{% endblock title %}


Testing css
{% block css %}
{{ block.super }}
<style type="text/css">
.box-header {
    background-image: -webkit-linear-gradient(left, #0C68B0, #0C68B0);
    background-image: -o-linear-gradient(left, #0C68B0, #0C68B0);
    background-image: linear-gradient(left, #0C68B0, #0C68B0);
    background-repeat: repeat-x;
    //border-bottom: 1px solid #0C68B0;
    padding: 5px 13px 5px 13px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    color: white;
    background-color: #0C68B0;
    margin: 4px 6px 0px 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 6px;

    font-weight: bold;
    letter-spacing: 3px;
    font-size: 13px;
    font-family: sans-serif;
}
.box {
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-topleft: 10px;
    padding-top: 2px;
    -webkit-overflow-scrolling:touch;
}
.box-dialog {
    display: none;
    width: 0;
    height: 0;
}
.box-contents {
//    padding: 0px 6px 4px 10px;
    margin: 0px 6px 2px 6px;
    overflow: auto;
    height: 100%;
}
#main-container {
    margin-top: 10px;
}
.action-icon {
    float: right;
}
iframe.box {
    margin-top: 5px;
    width: 99%;
    height: 97%;
}
.nav-rounded {
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
}
form input[type=checkbox] {
    margin-right: 5px;
}
</style>
{% endblock css %}


{% block javascript %}
  {{ block.super }}
  <script type="text/javascript"
          src="{{ STATIC_URL }}lizard_box/lizard_box.js"></script>
{% endblock javascript %}

You can use vertical-item-fixed like this:
      <div class="box vertical-item-fixed" data-height="100">
      </div>


{% block main-area %}
<div class="container-fluid" id="main-container">
  <div class="row-fluid">
    {% for column in view.layout.column_set.all %}
      <div class="span{{ column.width }} evenly-spaced-vertical">
        {% for columnbox in column.columnbox_set.all %}
          <div class="box {% if columnbox.height %}vertical-item-fixed{% else
                      %}vertical-item{% endif %}"
               data-refresh-millis="{{ columnbox.refresh_millis}}"
               data-slug="{{ columnbox.box.slug }}"
               data-temp-id="{{ column.index }}{{ columnbox.index }}{{ action.slug }}"
               {% if columnbox.height %}
                 data-height="{{ columnbox.height }}"
               {% endif %}
               {% if columnbox.html_color_body %}
                 style="background-color: {{ columnbox.html_color_body }};"
               {% endif %}>
            <div class="box-header"
                 {% if columnbox.html_color_header %}
                   style="background-color: {{ columnbox.html_color_header}}; background-image: -webkit-linear-gradient(left, {{ columnbox.html_color_header }}, {{ columnbox.html_color_header }}); border-bottom: 1px solid {{ columnbox.html_color_header }};"
                 {% endif %}>
              {{ columnbox.display_name }}

              {% if user.is_superuser %}
                <a href="/admin/lizard_box/columnbox/{{ columnbox.pk }}/"
                   class="icon-edit action-icon icon-white">&nbsp;</a>
              {% endif %}

              {% for action in columnbox.actions %}
              <a href="#"
                 class="box-action {{ action.icon_class_or_default }} action-icon icon-white"
                 data-temp-id="{{ column.index }}{{ columnbox.index }}{{
                   action.slug }}"
                 ><div class="box-dialog"
                       data-title="{{ action }}"
                       data-temp-id="{{ column.index }}{{ columnbox.index }}{{ action.slug }}">
                  {% autoescape off %}{{ action.render_popup }}{% endautoescape %}
              </div></a>
              {% endfor %}
            </div>
            <div class="box-contents">
              {% autoescape off %}
                {{ columnbox.render_box }}
              {% endautoescape %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
<div id="footer"></div>
{% endblock main-area %}
